.home_nav {
  padding-bottom: 0;
  background-color: var(--bg-color-1);
}

.logo_img_div {
  height: 64px;
  width: 174px;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}
