.common_card {
  border-radius: 25px;
  overflow: hidden;
  /* margin: 1rem 0.6rem !important; */
  border: 1px solid #f1f1f1;
}

.cardLink {
  text-decoration: none;
}

.author_info {
  display: flex;
  align-items: center;
}

.author_info p {
  color: var(--title-color);
  margin-left: 1rem;
  font-size: 14px;
}

.author {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 1rem;
}

.title p {
  font-size: 14px;
  color: #363333;
  text-align: justify;
  margin-bottom: 1rem;
  text-decoration: none;
}

.ratings_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.rating p {
  color: #feb906;
  font-size: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.rating {
  display: flex;
  align-items: center;
}

.rating span {
  color: var(--title-color);
  font-size: 14px;
  margin-left: 0.3rem;
}

.rating_icon {
  color: #feb906;
  margin-right: 0.2rem;
}

.card_price p {
  font-weight: 600;
  margin-bottom: 0;
  font-size: 14px;
  color: var(--title-color);
}
