@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
}

:root {
  --bg-color-1: #2e4372;
  --bg-color-2: #5377b1;
  --primary-color: #e2732c;
  --deep-text-color: #a5b4cb;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.blue h5::before {
  border-bottom: 3px solid #4b6ac4;
}

.orange h5::before {
  border-bottom: 3px solid #ff8ea6;
}
.sky h5::before {
  border-bottom: 3px solid #8be1e4;
}
